<nav id="navbar" class="navbar container navbar-expand-lg navbar-light">
  <a class="navbar-brand" routerLink="/home/landing"><div class="d-inline-block"><p class="text-red d-inline-block">Ng</p><p class="text-black d-inline-block">Contacts</p></div></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="material-icons">menu</span>
  </button>
  <div class="collapse navbar-collapse animate__animated animate__bounceInLeft" id="navbarNavDropdown" *ngIf="showOptions">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" data-scroll href="/home/landing#home">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" data-scroll href="/home/landing#features">Features</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" data-scroll href="/home/landing#about">About</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" data-scroll href="/home/landing#social">Social Networks</a>
          </li>
      </ul>
  </div>
</nav>
