<app-navbar> </app-navbar>
<div class="m-0">
  <div id="home" class="pt-2 m-0">
    <div class="container">
      <div class="row">
        <div class="col-md-6 animate__animated animate__fadeIn">
          <div class="pt-2">
            <p class="display-4">NgContacts Web Manager</p>
            <p class="lead">Subscribe for free and get started saving your contacts here or make your own
              App with the <a target="_blank" href="https://github.com/lapc18/ng-contacts-api">Spring Boot
                API able on Github</a>.</p>
          </div>
          <button class="btn btn-outline-primary">Get started!</button>
        </div>
        <div class="col-md-6 pt-5">
          <img class="bottom-img" src="../../../assets/svg/online_friends.svg" alt="">
        </div>
      </div>
    </div>
  </div>
  <img class="img-svg" src="../../../assets/svg/wave.svg" alt="">

  <div id="features" class="bg-primary-red text-center ">

    <h1 class="display-title">Features</h1>

    <div class="row justify-content-center text-center pb-5" data-aos="fade-up">
      <div class="col-md-4 p-5">
        <p class=""><i class="fa fa-briefcase"></i></p>
        <h4 class="text-white">Management</h4>
        <p class="lead">NgContact let you manage your contacts as you need with the basics CRUD operations.
        </p>
      </div>
      <div class="col-md-4 p-5">
        <p class=""><i class="fa fa-cogs"></i></p>
        <h4 class="text-white">RESTful API</h4>
        <p class="lead">A RESTful API with faster and powerful responses in every single request.
        </p>
      </div>
      <div class="col-md-4 p-5">
        <p class=""><i class="fa fa-database"></i></p>
        <h4 class="text-white">Relational Data</h4>
        <p class="lead">Saving your data and maintening the best intengrity with Spring Security, Spring
          Data and PostgreSQL.
        </p>
      </div>
    </div>
  </div>
  <img class="img-svg" src="../../../assets/svg/wave-up.svg" alt="">

  <div id="about">
    <div class="row text-center">
      <div class="col-md-5">
        <img class="profile-img" src="../../../assets/imgs/me2.0.JPG" alt="">
        <h4 class="text-black p-2">Luís Adolfo Pimentel</h4>
      </div>
      <div class="col-md-6 container">
        <div class="m-4 text-center">
          <h1 class="text-black font-weight-bolder display-title-red">About Me</h1>
          <p class="lead m-4">
            Experienced Software Technologist with a demonstrated history of working in the social, education, banking
            and business industries. I’m skilled in Angular, React, SpringBoot and DotNetCore. Also, I’m good at
            Flutter, Ionic, NestJS, SQL Management Systems such as MSSQL, MySQL, Oracle and PostgreSQL, test libraries
            like Jest, Junit, Vitest and knowledge of SOLID, BigO Notation, NoSQL, design patterns, data mining and
            proven capacity to handle situations with patience.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="social" class="container text-center pt-5 pb-5">
    <h1 class="text-black font-weight-bolder p-2 display-title-red pt-5">Socials</h1>
    <div class="row">
      <div class="col-md-4">
        <a href="https://instagram.com/luispimentel.c" target="_blank" class="fa fa-instagram"></a>
      </div>
      <div class="col-md-4">
        <a href="https://www.linkedin.com/in/luispimentelc" target="_blank" class="fa fa-linkedin"></a>
      </div>
      <div class="col-md-4">
        <a href="https://github.com/lapc18" target="_blank" class="fa fa-github"></a>
      </div>
    </div>
  </div>
</div>
